.quote-block {
    border-radius: 6px;
    margin: 0 50px;
    background-color: white;
    border: none;
    box-shadow: -1px 0 6px -1px rgba(34, 60, 80, 0.2);
}

.block-body {
    font-size: 20px;
    padding-right: 20px;
}

.block-footer,
.block-header{
    padding: 15px;
    border: none;
    background-color: aliceblue;
}