.category-list {
    margin: 15px 0 0;
    padding: 15px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 6px;
}

.category-list .active {
    color: #61dafb;
}

.category-list a {
    background-color: aliceblue;
    border: none;
    font-size: 20px;
    line-height: 16px;
    color: #111111;
    text-decoration: none;
    margin:0 0 10px;
    transition: all 0.7s;
}

.category-list a:hover {
    color: #61dafb;
}